
.cause.col-md-12
    form(action='/causepage', method='POST')
        button.btn-mini.btn-primary.pull-right(type='submit') Donate
        input(type='hidden', value='#{rows[i].cause_id}', name='cause_id') 
        input(type='hidden', value='#{rows[i].cause_name}', name='cause_name')
    .causeName #{rows[i].cause_name}
    p.tagline #{rows[i].tagline}
    p 
        strong Organization: 
        | #{rows[i].organization}
    p 
        strong Goal: 
        | #{rows[i].goal} BTC
    br
    .progress
        .progress-bar(style="width: #{rows[i].balance/100}%;")
    .stats.col-md-12
        .stat.col-md-4 #{(100/6).toFixed(2)}% Funded 
        .stat.col-md-4 B&#8422; 0.00 Pledged
        .stat.col-md-3 30 Days to Go