
.cause
    form(action='/causepage', method='POST')
        button.btn-mini.btn-primary.pull-right(type='submit') Donate
        input(type='hidden', value='#{rows[i].cause_id}', name='cause_id') 
        input(type='hidden', value='#{rows[i].cause_name}', name='cause_name')
    .causeName #{rows[i].cause_name}
    p #{rows[i].tagline}
    p Organization: #{rows[i].organization}
    p Goal: #{rows[i].goal} BTC
    br
    .progress
        .progress-bar(style="width: #{100/i+6}%;")
    .stats
        .stat #{(100/i+6).toFixed(2)}% Funded
        .stat $ 0.00 Pledged
        .stat 10 days to go