extends layout
block cause
	img(src="/img/TzedakahLogo.png")
	
	.container
	
		ul
			li CauseName #{rows.cause_name} 
			li Image
			li Organization #{rows.organization}
			li Raised 
			li Goal #{rows.goal}
			li Sponsor #{rows.sponsor}
			p Address #{address}
			li 
				button(value="donate")
			