//TzedakahBits — causepage.jade
extends layout
block main

    body
        include /partials/nav.jade
        #causepagecontainer.container
             
            h1#causetitle.col-md-10 #{cause.cause_name}
            #causepaper.col-md-10.col-md-offset-1
                
                #howitsdoing.pull-right.col-md-4
                    h2  Raised: $#{cause.balance}
                    h4  of $#{cause.goal} goal

                    h3  Submitted by #{cause.submitter}
                    button.btn-primary Donate!


                .col-md-6
                    h3.tagline
                        |Bringing College Bitcoiners Together
                    p Imagine having this iconic device on your desk: You can use it to simply display a scrolling marquee of any text message on its unique LED screen or encrypt/decrypt any information you wish using (still today) a very secure key. This is an ideal device to teach or learn about encryption, history & math. Because of its open software & the community of developers, the possibilities are endless & your reward is bound to increase in value over time as new applications (like e-mail encryption, secure router, etc) are written.
                    p 
                    b Donate: 
                        | #{cause.address}
                    br
                    button.btn-primary Report this cause
        
        include /partials/footer.jade